<ui-view>
    <form  ng-controller="ConsultaCtrl" name="frmDocuConsulta">
        <div layout="row">
            <md-input-container flex-gt-sm="60">
                <label>Tipo Documento</label>
                <md-select ng-model="documento.codigo" required="">
                    <md-option value="03">
                        Boleta de Venta
                    </md-option>
                    <md-option value="01">
                        Factura
                    </md-option>
                    <md-option value="07">
                        Nota de Crédito
                    </md-option>
                    <md-option value="08">
                        Nota de Débito
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex-gt-sm="39">
                <label>F. Emisión</label>
                <md-datepicker ng-model="documento.fecha_emision" required=""></md-datepicker>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex-gt-sm="100">
                <label>Número Documento</label>
                <input flex-gt-sm="100" type="text" name="numero_documento" ng-model="documento.numero" placeholder="Serie-Numero" required=""/>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex-gt-sm="100">
                <label>Monto total</label>
                <input flex-gt-sm="100" type="text" name="monto_total" ng-model="documento.monto" placeholder="100.00" required=""/>
            </md-input-container>
        </div>
        <div layout="row">
            <span style="margin: 0 auto;">
              <div re-captcha ng-model="documento.captcha"></div>
            </span>
        </div>
        <center>
            <md-button ng-disabled="!(frmDocuConsulta.$valid)" ng-click="consultar()" class="md-raised md-primary">&nbsp Consultar &nbsp</md-button>
        </center>
    </form>
</ui-view>
