$accent-100: #1C5792 !default; 
$accent-500: #1C5792 !default; 
$accent-600: #1C5792 !default; 
$accent-700: #1C5792 !default; 
$accent-A200: #1C5792 !default; 
$accent-A700: #1C5792 !default; 
$accent-color: #1C5792 !default; 
$accent-color-026: #1C5792 !default; 
$accent-color-05: #1C5792 !default; 
$accent-color-087: #1C5792 !default; 
$accent-contrast: #1C5792 !default; 
$accent-contrast-01: #1C5792 !default; 
$accent-contrast-087: #1C5792 !default; 
$background-100: #1C5792 !default; 
$background-200: #1C5792 !default; 
$background-300: #1C5792 !default; 
$background-400: #1C5792 !default; 
$background-50: #1C5792 !default; 
$background-500: #1C5792 !default; 
$background-500-02: #1C5792 !default; 
$background-600: #1C5792 !default; 
$background-600-03: #1C5792 !default; 
$background-800: #1C5792 !default; 
$background-900: #1C5792 !default; 
$background-900-00: #1C5792 !default; 
$background-900-10: #1C5792 !default; 
$background-A100: #1C5792 !default; 
$background-color: #1C5792 !default; 
$background-contrast: #1C5792 !default; 
$background-hue-1: #1C5792 !default; 
$foreground-1: #1C5792 !default; 
$foreground-2: #1C5792 !default; 
$foreground-2-023: #1C5792 !default; 
$foreground-3: #1C5792 !default; 
$foreground-4: #1C5792 !default; 
$foreground-shadow: #1C5792 !default; 
$primary-100: #1C5792 !default; 
$primary-500: #1C5792 !default; 
$primary-500-06: #1C5792 !default; 
$primary-500-contrast: #1C5792 !default; 
$primary-600: #1C5792 !default; 
$primary-600-1: #1C5792 !default; 
$primary-A200: #1C5792 !default; 
$primary-color: #1C5792 !default; 
$primary-color-01: #1C5792 !default; 
$primary-color-026: #1C5792 !default; 
$primary-color-05: #1C5792 !default; 
$primary-color-087: #1C5792 !default; 
$primary-contrast: #1C5792 !default; 
$primary-contrast-01: #1C5792 !default; 
$primary-contrast-087: #1C5792 !default; 
$warn-100: #1C5792 !default; 
$warn-600: #1C5792 !default; 
$warn-700: #1C5792 !default; 
$warn-A200: #1C5792 !default; 
$warn-A700: #1C5792 !default; 
$warn-color: #1C5792 !default; 
$warn-color-026: #1C5792 !default; 
$warn-color-05: #1C5792 !default; 
$warn-color-087: #1C5792 !default; 
$warn-contrast: #1C5792 !default; 
$warn-contrast-01: #1C5792 !default; 
