@import '~angular-material/angular-material.scss';

$swal2-white:       #fff !default;
$swal2-black:       #000 !default;
$swal2-transparent: rgba($swal2-black, 0) !default;

$swal2-success:        #a5dc86 !default;
$swal2-success-border: rgba($swal2-success, .2) !default;
$swal2-error:          #f27474 !default;
$swal2-warning:        #f8bb86 !default;
$swal2-info:           #3fc3ee !default;
$swal2-question:       #87adbd !default;

$swal2-overlay:        rgba($swal2-black, .4) !default;

$swal2-close-button:               lighten($swal2-black, 80) !default;
$swal2-close-button-hover:         #d55 !default;

$swal2-input-border:               lighten($swal2-black, 85) !default;
$swal2-input-border-focus:         #b4dbed !default;
$swal2-input-box-shadow:           rgba($swal2-black, .06) !default;
$swal2-input-box-shadow-focus:     #c4e6f5 !default;

$swal2-validationerror-background: #ea7d7d !default;
$swal2-validationerror-color:      $swal2-white !default;
@import '~sweetalert2/src/sweetalert2.scss';
//https://github.com/johannesjo/angular-material-sass-files/blob/master/themes/_button-theme.scss
@import "./themes/constantes.scss";
@import "./themes/index.scss";


/********************************* FUENTE *************************************/
@font-face {
    font-family: 'SieIcons';
    src:  url('/static/fonts/SieIcons/SieIcons.eot');
    src:  url('/static/fonts/SieIcons/SieIcons.eot#iefix') format('embedded-opentype'),
        url('/static/fonts/SieIcons/SieIcons.ttf') format('truetype'),
        url('/static/fonts/SieIcons/SieIcons.woff') format('woff'),
        url('/static/fonts/SieIcons/SieIcons.svg#SieIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}
.sieicons{
  font-family: 'SieIcons' !important;
  speak: none;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  vertical-align: middle;
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/********************************** FUENTE ************************************/

/******************************** PRINCIPAL ***********************************/
sie-app > div > div[ui-view]{
  &, & > div{
    width: 100vw;
    height: 100vh;
  }
}

:focus {
    outline: none;
}

md-sidenav.md-locked-open.sidenav-mini{
  width: 60px;
}

/******************************* PRINCIPAL ************************************/